server:
  port: 9000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    aem.java.strayfinder: DEBUG


spring:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/stray_finder_dev
    url: jdbc:postgresql://localhost:5432/stray_finder_dev
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikary:
      maximum-pool-size:
  servlet:
    multipart:
      enabled: true
      max-file-size: 1MB
      max-request-size: 1MB

  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  data:
    mongodb:
      uri: mongodb://mongo:mongo@localhost:27017/stray_finder_dev?authSource=admin
      username: mongo
      password: mongo